version: "3.8"
services:
  pgadmin4:
    image: dpage/pgadmin4
    container_name: pgadmin4_container
    environment:
      - PGADMIN_DEFAULT_EMAIL=lfernando.s.nascimento@gmail.com
      - PGADMIN_DEFAULT_PASSWORD=12345
    networks:
      - postgres-network
    ports:
      - "89:80"
  postgres:
    image: postgres:10
    container_name: postgres10_container
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=postgres
    networks:
      - postgres-network
    volumes:
      - /home/luis/data/postgres:/var/lib/postgresql/data
  application:
    build: ./
    links:
      - postgres
    ports:
      - "8080:8080"
    networks:
      - postgres-network
    depends_on:
      - postgres
      - pgadmin4
networks:
  postgres-network:
    driver: bridge